<div id="session-wrapper">
<%= form_for(:session, url: log_in_path) do |f| %>
    <h1>All hail Great Master Tony!</h1>
    <div>Please enter your account data to do sum admin biz...</div>

    <p>
      <%= label_tag :name %><br />
      <%= f.text_field :name, :placeholder => "Name" %>
    </p>
    <p>
      <%= label_tag :password %><br />
      <%= f.password_field :password, :placeholder => "Password" %>
    </p>
    <p class="button"><%= submit_tag 'Yolo Swag' %></p>
<% end %>
</div>

<script>

  $(document).ready(function() {
    setInterval(function () {
      var colours = ['red', 'blue', 'green', 'pink', 'yellow'];
      randomColor = colours[Math.floor(Math.random() * colours.length)];
      $('h1').animate({'fontSize': "3em"}, 'slow')
             .css({'color': randomColor})
             .animate({'fontSize': "1em"}, 'slow')
                      }, 'fast');
  });
  </script>