<!-- Carousel
================================================== -->
<%= javascript_include_tag "bootstrap-carousel" %>
<%= javascript_include_tag "bootstrap-transition" %>
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("IMG_9362.JPG") %>
    </div>
    <div class="item">
      <%= image_tag("Skissi.jpg") %>
    </div>
    <div class="item ">
      <%= image_tag("tyypp.JPG") %>
    </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->

