<p id="notice"><%= notice %></p>

<div class="gallery-wrapper">
 

  <div class="col-md-12">
    <h1 id="gallery-title">Projects</h1>
    <div class="link-wrapper">
        <ul>
        <li><%= link_to 'Home', root_path %>&nbsp|&nbsp</li>
        <li><a href="/info">Info </a></li>
      </ul>
    </div>
  </div>
  <br><br>
  <div class="image-list-wrapper container">
    <% @projects.reverse_each do |project| %>
    <div class="<%= cycle("", "row") -%>">
      <div class="col-md-6 col-xs-12">
        <a href="<%= url_for :controller => 'projects', :action => 'show', :id => project.id  %>">
          <div class="image-wrapper">
            <img class="project-image" src="<%= url_for :controller => 'projects', :action => 'showimage', :id => project.id  %>">
            <div class="shader2">
              <div class="project-button">
                <p class="project-name"><%= project.name %></p>
              </div>
            </div>
          </div>
        </a>
        <% if current_user %>
           <span class="edit"><%= link_to 'Edit', edit_project_path(project) %></span> -
           <span class="delete"><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        <% end %>
      </div>
      </div>
    <% end %>
  </div>
  
</div>

