<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
	<img class="project-image" src="<%= @project.image%>"/>
</p>

<p>
  <strong>Desc:</strong>
  <%= @project.desc %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
