<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

	<img src="/projects/showimage/<%= @project.id %>" class="project-image">

<p>
  <strong>Desc:</strong>
  <p class="project-description"><%= @project.desc %></p>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
