<p id="notice"><%= notice %></p>

<h1>Listing Introtexts</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @introtexts.each do |introtext| %>
      <tr>
        <td><%= introtext.text %></td>
        <td><%= introtext.startdate %></td>
        <td><%= introtext.enddate %></td>
        <td><%= link_to 'Show', introtext %></td>
        <td><%= link_to 'Edit', edit_introtext_path(introtext) %></td>
        <td><%= link_to 'Destroy', introtext, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Introtext', new_introtext_path %>
