<!DOCTYPE html>
<html>
<head>
  <title>Tony Yau</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
    <header class="navbar navbar-fixed-top">
      <nav>
        <ul class="nav navbar-nav navbar-right" style="margin-right: 5%; margin-top: 2%;">
          <li><%= button_to "Add a new project", {:controller=> "projects", :action=> "new"},{:class=>"btn btn-default", :method=>"get"} %></li>
          <li><%= button_to "Log out "+User.find(session[:user_id]).name, {:controller=> "sessions", :action=> "destroy"}, {:class=>"btn btn-primary"} %></li>
        </ul>
      </nav>
    </header>
<% end%>

  <%= yield %>

</body>
</html>
